@media screen and (min-width: 200px) {
	.list-group-item {
		font-size: 70%;
	}
}

@media screen and (min-width: 750px) {
	.list-group-item {
		font-size: 85%;
	}
}

@media screen and (min-width: 1440px) {
	.list-group-item {
		font-size: 100%;
	}
}


label {
	font-weight: bold;
	color: darkblue;
}

#new-sensor-extention {
	font-size: 12px;
	color: darkred;
}

#inputErrorMessage {
	color: red;
}

.control-form-field-box {
	border-radius: 4px;
	border: 1px solid #f3f1f1;
	box-shadow: 0px 0px 5px 5px #e7e7e7;
	padding: 65px 40px;
}

.new-sensor-form-title, .user-login-form-title, 
.new-calibration-form-title, .new-procedure-form-title {
	color: blue;
}


.calibration-card-item {
	display: inline-block;
}

.cal-notice-span, .sensor-notice-span {
	font-weight: bold;
}

#range-levels-validation,
.new-calibration-valid-input {
	color: red;
	font-weight: bold;
}

.avatar {
	width: 40px;
}

.sensor-notice-span {
	margin-right: 40px;	
}

.login-label, .register-label {
	color:white;
	margin-right: 15px;
}