@media screen and (max-width: 400px) {
  .list-group-item {
     font-size: 25%;
  }
}

@media screen and (max-width: 750px) {
  .list-group-item {
     font-size: 45%;
  }
}


@media screen and (max-width: 1024px) {
  .list-group-item {
     font-size: 60%;
  }
}

@media screen and (max-width: 1440px) {
  .list-group-item {
     font-size: 100%;
  }
}